In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
# read excel sheets into dataframes
pol_sheets_dict = pd.read_excel("motor_pols2008-2023.xls", sheet_name=None)
df_pol = pd.concat(pol_sheets_dict.values(), ignore_index=True)
df_pol.head()

WARNING *** file size (102462767) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

,LINKID,REGISTRATIONNO,DOCUMENTDATE,EXPIRYDATE,INSUREDNATURE,DATEOFBIRTH,SEX,MARITALSTATUS,OCCUPATION,BRANCHCODE,...,EQUIPMENTVALUE,INSURANCETYPE,MAINCLASS,DESCRIPTION,SUBCLASS,SUMINSURED,ANNUALBASICPREMIUM,ANNUALSRCCPREMIUM,ANNUALTCPREMIUM,ANNUALPREMIUMTOTAL
0,POLE201413191644,NW NB-8109,2014-10-14,2015-07-20,C,NaN,NaN,NaN,NaN,KUR,...,NaN,GENERAL,VCFL,VEHICLE COMMERCIAL VEHICLE FLEET,JCH2,9450000.0,1357.18,1130.99,0.0,2488.17
1,POLE201514230042,WP CAD-0712,2015-06-29,2016-03-30,C,NaN,NaN,NaN,NaN,CNR,...,NaN,GENERAL,VCFP,VEHICLE PRIVATE CAR FLEET,JPC,149856000.0,1411.00,0.00,0.0,1411.00
2,POLE201412564131,WP GL-0180,2014-06-06,2015-02-04,C,NaN,NaN,NaN,NaN,JIC,...,NaN,GENERAL,VCFP,VEHICLE PRIVATE CAR FLEET,JPC,480436325.0,6142.68,0.00,0.0,6142.68
3,POLE20095627214,WP KF-2143,2009-03-31,2010-02-04,C,NaN,NaN,NaN,NaN,JIC,...,NaN,GENERAL,VCFP,VEHICLE PRIVATE CAR FLEET,JPC,378102975.0,22763.34,0.00,0.0,22763.34
4,POLE20084893573,WP KA-1944,2008-07-01,2009-02-04,C,NaN,NaN,NaN,NaN,JIC,...,NaN,GENERAL,VCFP,VEHICLE PRIVATE CAR FLEET,JPC,335065400.0,556.23,0.00,0.0,556.23

In [3]:
# df_pol
df_pol = df_pol.drop_duplicates()
print('df_pol rows\t: ', df_pol.shape[0])
print('df_pol cols\t: ', df_pol.shape[1])

df_pol rows	:  252425
df_pol cols	:  35

In [4]:
# read excel sheets into dataframes
clm_sheets_dict2008_2013 = pd.read_excel("motor_clms2008-2013.xlsx", sheet_name=None)
df_clm2008_2013 = pd.concat(clm_sheets_dict2008_2013.values(), ignore_index=True)
clm_sheets_dict2013_2013 = pd.read_excel("motor_clms2013-2023.xls", sheet_name=None)
df_clm2013_2023 = pd.concat(clm_sheets_dict2013_2013.values(), ignore_index=True)
df_clm1 = pd.concat([df_clm2008_2013, df_clm2013_2023], ignore_index=True)
df_clm1.head()

WARNING *** file size (37350283) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

            LINKID REGISTRATIONNO  CLAIMAMOUNT
0  POLE20095583968     WP MC-3837     31368.50
1   POL20119089622       060-0975       677.42
2  POLE20107685469     CP VC-3881     23675.88
3  POLE20117884670     WP VA-2993     45641.06
4  POLE20107328942     WP JJ-0108      1574.62

In [5]:
# df_clm1
print('df_clm1 rows\t: ', df_clm1.shape[0])
print('df_clm1 cols\t: ', df_clm1.shape[1])

df_clm1 rows	:  1122847
df_clm1 cols	:  3

In [6]:
# read excel sheets into dataframes
clm_log_sheets_dict2008_2013 = pd.read_excel("motor_clms_logs2008-2013.xlsx", sheet_name=None)
df_clm_log2008_2013 = pd.concat(clm_log_sheets_dict2008_2013.values(), ignore_index=True)
clm_log_sheets_dict2013_2023 = pd.read_excel("motor_clms_logs2013-2023.xls", sheet_name=None)
df_clm_log2013_2023 = pd.concat(clm_log_sheets_dict2013_2023.values(), ignore_index=True)
df_clm2 = pd.concat([df_clm_log2008_2013, df_clm_log2013_2023], ignore_index=True)
df_clm2.head()

WARNING *** file size (37395126) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

            LINKID REGISTRATIONNO  CLAIMAMOUNT
0  POLE20095583968     WP MC-3837     31368.50
1   POL20119089622       060-0975       677.42
2  POLE20107685469     CP VC-3881     23675.88
3  POLE20117884670     WP VA-2993     45641.06
4  POLE20107328942     WP JJ-0108      1574.62

In [7]:
# df_clm2
print('df_clm2 rows\t: ', df_clm2.shape[0])
print('df_clm2 cols\t: ', df_clm2.shape[1])

df_clm2 rows	:  1100674
df_clm2 cols	:  3

In [8]:
# concatenate dataframes vertically & group by link id & registration no
df_clm = pd.concat([df_clm1, df_clm2], ignore_index=True)
df_clm = df_clm.groupby(['LINKID', 'REGISTRATIONNO']).sum().reset_index()
print('df_clm rows\t: ', df_clm.shape[0])
print('df_clm cols\t: ', df_clm.shape[1])

df_clm rows	:  1123533
df_clm cols	:  3

In [9]:
# perform left join on 'id' column
df = pd.merge(df_pol, df_clm, on=['LINKID', 'REGISTRATIONNO'], how='left')
df = df.drop_duplicates()
print('df rows\t: ', df.shape[0])
print('df cols\t: ', df.shape[1])

df rows	:  252425
df cols	:  36

In [10]:
df['REGISTRARIONID'] = df.groupby('REGISTRATIONNO').ngroup() + 1

In [11]:
# save dataframe to a CSV file
df = df.drop(['REGISTRATIONNO'], axis=1)
df.to_csv('dataset.csv', index=False)