In [4]:
import json
import pandas as pd

In [5]:
df = pd.read_csv("new_dataset.csv")
df.head()

C:\Users\Ruchira Dias\AppData\Local\Temp\ipykernel_12564\890601282.py:1: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("new_dataset.csv")

,INSUREDNATURE,SEX,MARITALSTATUS,BRANCHCODE,DISTRINCTCODE,PROVINCECODE,ZONECODE,YEAR,VEHICLETYPE,MAKE,...,VEHICLEVALUE,MAINCLASS,SUBCLASS,EFFECTIVEDAYS,SUMINSURED,ANNUALBASICPREMIUM,ANNUALSRCCPREMIUM,ANNUALTCPREMIUM,ANNUALPREMIUMTOTAL,RISKSCORE
0,I,M,N,MTL,MTL,CNTRL,CENTRAL,2008.0,LORRY,ISUZU,...,3000000.0,VCSL,JHL,365,3000000.0,3000.00,500.00,0.0,3500.00,0.000000
1,I,M,N,KRI,GMP,WSTRN,WESTERNZONE1,1992.0,LORRY,ISUZU,...,1500000.0,VCSL,JHL,258,1500000.0,666.50,0.00,0.0,666.50,0.000000
2,I,M,N,HNW,AVI,WSTRN,WEST,1980.0,LORRY,TOYOTA,...,500000.0,VCSL,JHL,294,500000.0,9925.42,0.00,0.0,9925.42,0.000000
3,I,M,N,INT,INT,WSTRN,CMB,2001.0,CAR,NISSAN,...,2285000.0,VCSP,JPC,358,2285000.0,5284.87,0.00,0.0,5284.87,0.022797
4,I,M,N,GLE,GLE,SOTRN,SOUTHERN2,1995.0,VAN,TOYOTA,...,1500000.0,VCSL,JHD,72,1500000.0,16846.03,5264.38,0.0,22110.41,0.000000

In [7]:
print(df['MARITALSTATUS'].unique())

['N' 'M' 'W' 'S' 'A' 'D' 'V' nan]

In [8]:
print(df['FUELTYPE'].unique())

['DIESEL' 'PETROL' 'HYB_PETROL' 'Unkown' 'ELECTRIC' 'HYB_DIESEL'
 'PETROL/GAS' 'GAS']

In [6]:
print(df['SEX'].unique())

['M' 'F' 'Unknown' nan]

In [3]:
df_loc = df[['BRANCHCODE', 'DISTRINCTCODE', 'PROVINCECODE', 'ZONECODE']]
df_loc = df_loc.drop_duplicates()
df_loc.shape

(427, 4)

In [4]:
class Branch:
    def __init__(self, branch, district, province, zone):
        self.branch = branch
        self.district = district
        self.province = province
        self.zone = zone
    
    def to_dict(self):
            return {
                'branch': self.branch,
                'district': self.district,
                'province' : self.province,
                'zone' : self.zone
            }

In [5]:
branches = []
for branch in df_loc['BRANCHCODE'].unique().tolist():
    df_bra = df_loc[df_loc['BRANCHCODE'] == branch]
    for i, r in df_bra.iterrows():
        branches.append(Branch(r['BRANCHCODE'], r['DISTRINCTCODE'], r['PROVINCECODE'], r['ZONECODE']))

In [6]:
serialized_branches = [obj.to_dict() for obj in branches]
filename = 'branches.json'
with open(filename, 'w') as file:
    json.dump(serialized_branches, file)

In [7]:
df_pol = df[['MAINCLASS', 'SUBCLASS']]
df_pol = df_pol.drop_duplicates()
df_pol.shape

(87, 2)

In [8]:
class Policy:
    def __init__(self, main, sub):
        self.main = str(main)
        self.sub = str(sub)
    
    def to_dict(self):
            return {
                'mainclass': self.main,
                'subclass': self.sub,
            }

In [9]:
policies = []
for sub in df_pol['SUBCLASS'].unique().tolist():
    df_sub = df_pol[df_pol['SUBCLASS'] == sub]
    for i, r in df_sub.iterrows():
        policies.append(Policy(r['MAINCLASS'], r['SUBCLASS']))

In [10]:
serialized_policies = [obj.to_dict() for obj in policies]
filename = 'policies.json'
with open(filename, 'w') as file:
    json.dump(serialized_policies, file)

In [11]:
df_veh = df[['VEHICLETYPE', 'MAKE', 'MODEL']]
df_veh = df_veh.drop_duplicates()
df_veh.shape

(4209, 3)

In [12]:
class Vehicle:
    def __init__(self, vehtype, make, model):
        self.vehtype = str(vehtype)
        self.make = str(make)
        self.model = str(model)
        
    def to_dict(self):
            return {
                'type': self.vehtype,
                'make': self.make,
                'model': self.model
            }

In [13]:
vehicles = []
for model in df_veh['MODEL'].unique().tolist():
    df_mod = df_veh[df_veh['MODEL'] == model]
    for i, r in df_mod.iterrows():
        vehicles.append(Vehicle(r['VEHICLETYPE'], r['MAKE'], r['MODEL']))

In [14]:
serialized_vehicles = [obj.to_dict() for obj in vehicles]
filename = 'vehicles.json'
with open(filename, 'w') as file:
    json.dump(serialized_vehicles, file)